<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Formulaire d'Inscriptions</h1>

    <div id="app">
        <div v-for="(input,k) in inputs" :key="k">
            <div :style="input.color? 'background-color: green;':''">
                <input type="text" class="form-control" v-model="input.nom" placeholder="Nom">
                <input type="text" class="form-control" v-model="input.prenom" placeholder="Prénom">
                <input type="checkbox" id="color" v-model="input.color">
            </div>

            <span>
                <button v-on:click="remove(k)" v-show="k || ( !k && inputs.length > 1)">Supprimer</button>
                <button v-on:click="ajout(k)" v-show="k == inputs.length-1">+ Ajouter</button>
            </span>


        </div>
        <table border="2px" style="min-width: 150px; min-height: 20px; max-width: 300px; max-height: 100px;">
            <tr v-for="(input,k) in inputs" :key="k" :style="input.color? 'background-color: green;':''">
                <td>{{input.nom}}</td>
                <td>{{input.prenom}}</td>
            </tr>
        </table>
    </div>
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',

        data: {
            inputs: [
                {
                    prenom: '',
                    nom: '',
                    color: false
                }
            ]
        },

        methods: {
            ajout() {
                this.inputs.push({
                    nom: '',
                    prenom: ''
                })
            },

            remove(index) {
                this.inputs.splice(index, 1)
            },

            color() {
                this.inputs
            }
        }
    })
</script>

<style>

</style>